body {
    font-family: Arial, sans-serif;
   /* background-color: lightblue;*/
    background-image:  url('imagen/imagen3.jpg');
    background-size: cover;
    background-position: center;
   /* font-size:10vw;*/
}
/*las letras aumentan*/
h1 {
    color: #333;
}

form {
    margin-bottom: 10px;
    /*border: 2px solid #df0b0b;*/
}

label {
    display: block;
    margin-top: 25px;
    /*border: 2px solid #df0b0b;*/
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 2px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    /*opacity: 0.9;*/
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f50ee175;
}
footer {
    text-align: center;
    padding: 9px;
    background-color: rgb(244, 15, 15);
    color: white;
}
.carrusel-flex-container {
    width: 500px;/*ancho*/
    height: 685px;/*alto*/
   /* display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;*/
}
img {
    width: 150%;
    height: auto;
  }